{
  "env": {
    "es6": true,
    "browser": true,
    "jest": true,
    "node": true
  },
  "extends": ["plugin:react/recommended", "prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "ignorePatterns": [
    "node_modules/",
    "public/",
    "uploads/",
    "internals/scripts/",
    "internals/webpack/window.mock.js",
    "build/",
    "server.js"
  ],
  "rules": {
    "no-console": 2,
    "no-var": 2,
    "no-alert": 2,
    "max-len": [2, 120, 2],
    "no-param-reassign": 2,
    "semi": 2,
    "default-case": "error",
    "require-yield": 2,
    "require-await": 2,
    "no-useless-catch": 2,
    "no-implied-eval": 2,
    "no-empty-pattern": 1,
    "no-empty-function": 2,
    "no-constructor-return": 2,
    "react/react-in-jsx-scope": 0,
    "eqeqeq": 2,
    "no-magic-numbers": [
      2,
      {
        "ignoreArrayIndexes": true,
        "ignore": [-1, 0, 1]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./internals/webpack/client/webpack.prod.babel.js"
      }
    }
  }
}
